<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
         <!-- Bootstrap icons-->
        <link href="{{ asset ('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css')}}" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ asset ('css/styles.css')}}" rel="stylesheet"

        {% block stylesheets %}{% endblock %}
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    </head>
    <body>
    <!-- Menu de Navegacion-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="{{path ('homepage')}}">Página AgusMaldo</a> <!-- Usamos el Path para escribir la referencia de nuestra pagina de incio con un nombre en especifico -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="{{path ('historia')}}">Historia</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{path ('contacto')}}">Contacto</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Reserva</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Videos</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="#">Ataque</a></li>
                                    <li><a class="dropdown-item" href="#">Defensa</a></li>
                                     <li><a class="dropdown-item" href="#">Arquero-Jugador</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Listado</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li><a class="dropdown-item" href="{{path ('paises')}}">Paises</a></li>
                                    <li><a class="dropdown-item" href="{{path ('paisesactivos')}}">Paises Activos</a></li>
                                    <li><a class="dropdown-item" href="#">Provincias</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Fin del Menu de Navegacion-->

        {% block body %}{% endblock %}
        <!-- Bootstrap core JS-->
        <script src="{{asset ('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')}}"></script>
        <!-- Core theme JS-->
        <script src="{{asset ('js/scripts.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
