{% extends 'base.html.twig' %}
{% block title %}
Bienvenido!
{% endblock %}
{% block body %}

<!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">Paises</h1>
                        <p class="lead fw-normal text-muted mb-0">Solamente paises Activos</p>
                        <center><p>sdsadasdds</p></center>
                    </div>

                    <div class="row gx-5">
                    {% for pais in paises %}
                        <div class="col-lg-6">
                            <div class="position-relative mb-5">
                             <!-- <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /> -->
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#">{{pais.descripcion}}</a>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </section>
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                    <a class="btn btn-lg btn-primary" href="#!">Contact us</a>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2021</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>

{% endblock %}
