{% extends 'base.html.twig' %}
{% block title %}
Nuevo Pais
{% endblock %}
{% block body %}

   <div class="container">
        <div class="panel panel-primary">
            <div class ="panel-heading text-center">
            </div>
              <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                        <div class="text-center mb-5">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-15"><img class="img-fluid rounded-3 my-5" src="paises.jpeg" alt="..." /></div>
                                <h1 class="fw-bolder">Agregar Pais</h1>
                                <p class="lead fw-normal text-muted mb-0">Completa los datos para agregar un pais </p>
                            </div>
                        <div class="row gx-5 justify-content-center">

            <div class "row" > 
                <div class="col-md-8">
                    {{form_start (form)}}
                    {{form_errors (form) }}
                    <div class="control-group form-group">
                        <div>
                            {{form_label (form.descripcion)}} 
                            {{form_errors (form.descripcion) }} 
                            {{form_widget (form.descripcion)}}
                        </div>
                        <br>
                        <div class="control-group form-group">
                            {{form_label (form.abrev)}}
                            {{form_errors (form.abrev) }}
                            {{form_widget (form.abrev)}}
                        </div>
                        <br>
                        <div class="control-group form-group">
                            {{form_label (form.activo)}} 
                            {{form_errors (form.activo) }}
                            {{form_widget (form.activo)}}
                        </div>
                        <br>
                        <div class="control-group form-group">
                            {{form_widget (form.guardar)}}
                        </div>
                        
                        {{form_end (form)}}
                    </div>
                    <a class="btn btn-round" href="{{path ('paises')}}">Volver</a>
                    
                </div>    
            </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
   

  



  <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2021</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
{% endblock %}